.whiteContainer {
    padding: 0;
    background-color: #fff;

}
@media only screen and (min-width: 1201px){

    .gridLayout {
     
        display: -moz-box;
        display: -ms-flexbox;
     
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
         
        flex-wrap: wrap;
        background: #fff;
        margin: auto;
        max-width: 1188px;
        min-width: 1020px;
        padding: 0 24px;
        width: 100%;
    }}
    
    .layoutFull {
        width: 100%; 
        margin-bottom: 4.5rem;
    }

    @media only screen and (min-width: 1201px){
        .articleTitleOutline {
            color: #fff;
            -webkit-text-stroke: 2px #000;
        

 
    letter-spacing: 2px;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
            margin-top: 2.25rem;
            font-family: 'Poppins'
        
        }}

        @media only screen and (max-width: 1200px){
            .articleTitleOutline {
                color: #121212;
                font-size:1.9375rem;
                font-weight: 700;
                line-height: 2.25rem;
                text-align: left;
                font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
                margin-left:20px;
                margin-top: 1.313rem;
            margin-right:20px;
            max-width: 600px;
            padding: 10px;
            font-style: italic;
            width: calc(100% - 40px);
            margin-bottom: 1rem;
             
            
            }}

            .dekkContainer {
                text-align: left;
                padding-left: 16px;
                padding-right: 16px;
             }
             @media only screen and (min-width: 1201px){

                .articleDekk {
                    font-size: 3em;
                    font-weight: 100;
                    line-height: 1.25;
                    margin-top: 2rem;
                    font-family: 'poppins', san-serif;
                    padding-left: 15px;
                  
                   
                }}
                
                @media only screen and (max-width: 1200px){
                
                    .articleDekk {
                        font-size: 1.25rem;
                        font-weight: 300;
font-family: georgia,'times new roman',times,serif;                        padding-left:22px;
font-style: normal;
font-stretch: normal;
color: #333;
line-height: 1.5625rem;
                        
                       
                    }}

    .imageContainer {
    margin-left: 1.5rem;
        margin-right: 1.5rem;}

                
@media only screen and (min-width: 1201px){
         .gridLayoutBody {
          flex: 1;
         padding: 5.25rem;
        -webkit-box-flex: 1;
        margin-bottom: 4.5rem;
                                 
                            }}
                            
@media only screen and (max-width: 1200px){
     .gridLayoutBody {
    flex: 1;
    padding: 2.25rem;
 -webkit-box-flex: 1;
margin-bottom: 2.5rem;
                                     
    }}

    @media only screen and (min-width: 1201px){

        .richTextFormatting {
            color: #333;
            font: 100 1.25rem/1.65 'Poppins',Arial,sans-serif;   
        }}
        
        @media only screen and (max-width: 1200px){
        
            .richTextFormatting {
                color: #333;
                font: 100 1em/1.65 'Poppins',Arial,sans-serif;   
            }}

            .hrclass {
                background: #fff;
                box-shadow: 0 0 transparent, 0 0 transparent, 1px 3px 6px #00000026;
                min-height: 55px; 
                align-items: center;
                -webkit-box-align: center;
                display: flex;
            }