.buttonsHub {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
 
}

.chartSorter {
    height: 20px;
    justify-content: center;
    margin-bottom: 2.25rem;
}

.displayflex {
    display: flex;
}

.alignCenter {
    display: flex; 
}

.chartSorterElement:first-child {
    margin-left: 0;
}


.chartSorterElement{
    margin: 0 15px;
    display: flex;
    justify-content: center;
}

.textAlign {
    text-align: center;
}
.chartSorterButton[aria-pressed=true ] {
    color: #344072;
}
.chartSorterButton:hover:after {
    opacity: 1;
    transform: translateY(0); 
    
}
.chartSorterButton:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,.1);
    content: "";
    opacity: 0;
    transition: opacity .3s,transform .3s; 
    transform: translateY(10px);
}
.chartSorterButton {
    cursor: pointer;
    position: relative;
    outline: none;
 
 
    appearance: none;
    background-color: rgba(0,0,0,0);
    font-size: 11px;
    line-height: 1.09em;
    border: none;
    margin: 0;
    padding: 0;
    
 
}

.fontSemiBold {
    font-weight: 600   
}
.textCenter {
    text-align: center;
}

.textUppercase {
    text-transform: uppercase;
}

/* code row intro front apple*/

.unitWrapper {
    text-align: center; 
    padding-top: 37px;
    position: relative;
    -webkit-box-flex: 0;
    flex-grow: 0;
    z-index: 4;
    pointer-events: none;
    margin-top: var(--global-nav-collective-height);
}

.headline {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "Poppins, san-serif";
}